body {
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #000C40, #607D8B);;
    margin: 20px;
}

h1 { 
  font-family: "Oswald", cursive;
  font-size: 36px;
  text-align: center;
  font-weight: regular; 
  margin: 20px;
}

h2 { 
  font-family: "Cinzel", cursive;
  font-size: 28px;
  text-align: left;
  font-weight: regular; 
  margin: 20px;
}

h3 { 
  font-family: "Cinzel", cursive;
  font-size: 28px;
  text-align: left;
  font-weight: regular;
  margin: 20px; 
}

p {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  text-align: left;
  font-weight: bold 600; 
  margin: 20px;
}

body {
    font-family: sans-serif;
    margin: 20px; 
}

.banniere {
 /*   background: url("https://pngimg.com/uploads/welcome/welcome_PNG99.png");
    padding: 250px;
    background-position: center;
    background-size: 1200px 400px;
    background-repeat: no-repeat;

    ancienne maniere de mettre le logo avec un background
*/
  text-align: center;
}

.banniere img{
    width:70%;
    display:block;
    margin:auto;
}

a {
    color: white;
  
}
a:hover{
  background-color: black;
  opacity: 0.8;

}

ul {
    display: flex;
    list-style: none; 
    gap: 20px;        
    justify-content: right;
    margin: 20px;
}

li a {
    color: white;
    text-decoration: underline;
    font-style: oblique;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
section{
    padding:60px 0;
}

h2{
    margin-bottom:20px;
}

p{
    line-height:1.8;
}
img {
  margin: 20px;
}