body {
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background: linear-gradient(360deg, #000C40, #607D8B);
    margin: 20px;
}

h1 { 
  font-family: "Oswald", cursive;
  font-size: 36px;
  text-align: center;
  font-weight: regular; 
  margin: 20px;
}

h2 { 
  font-family: "Cinzel", cursive;
  font-size: 28px;
  text-align: left;
  font-weight: regular; 
  margin: 20px;
}

h3 { 
  font-family: "Cinzel", cursive;
  font-size: 28px;
  text-align: left;
  font-weight: regular;
  margin: 20px; 
}

p {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  text-align: left;
  font-weight: bold 600; 
  margin: 20px;
}

.banniere {
 /*   background: url("https://pngimg.com/uploads/welcome/welcome_PNG99.png");
    padding: 250px;
    background-position: center;
    background-size: 1200px 400px;
    background-repeat: no-repeat;

    ancienne maniere de mettre le logo avec un background
*/
}

.banniere img{
    width:70%;
    display:block;
    margin:auto;
}

a {
    color: white;
  
}
a:hover{
  background-color: black;
  opacity: 0.8;

}

ul {
    display: flex;
    list-style: none; 
    gap: 20px;        
    justify-content: right;
    margin: 20px;
}

li a {
    color: white;
    text-decoration: underline;
    font-style: oblique;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
section{
    padding:60px 0;
}

h2{
    margin-bottom:20px;
}

p{
    line-height:1.8;
}
img {
  margin: 20px;
}
header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 30px;   
  height: auto;  
  margin-right: 10px;
}
.gt3rs {
  text-align: right;
}
aside{
}
table{
  border-collapse: collapse;
}
td, th{
  border: 4px solid black;
  padding: 15px;
}
:required {
    background-color:#F2A3BB;
}
@media screen and (max-width: 1280px) {
  p {
    color: white;
    background-color: black;
    opacity: 0.7;
    font-size: 1.2em;
  } 
}
img {
    width: 50%;
    min-width: 50px;
}